# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

######################################################################################################
#
#  Team structure and memberships
#
#######################################################################################################

# These owners will be the default owners for everything in the repo.
*       @lahirumaramba @firebase/jssdk-global-approvers
