name: Lint

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Run Checkstyle
        uses: checkstyle/checkstyle-github-action@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          checkstyle_config: checkstyle.xml
